/*======================================================
==========3.question normal box==========start==========
=======================================================*/
/*question box*/
.question_box{
	clear:both;
	background-color:white;
	width:96%;
	margin:0 2%;
	border-bottom:solid 1px #DCDCDC;
	margin-bottom:10px;
	border-radius:3px;
}
.question_format{
	padding:7px;
}
.item_li_1{
	width:75%;
	height:30px;
	background:white;
	font-size:12px;
}
.item_li_2{
	width:25%;
	height:30px;
	background:white;
	font-size:12px;
}
.question_item{
	background:white;
	height:25px;
	width:90%;
	margin:0 5%;
}
.question_user{
	clear:both;
	background-color:bcompiler_write_included_filename(filehandle, filename);
	height:50px;
	color:#757575;
}
.group_name{
	border:solid 1px #FFF4F4;
	border-radius: 7px;
	padding:3px;
	background-color:#FFF4F4;
	color: #FF5959;
}
.question_text{
	clear:both;
	padding:5px 0;
	width:96%;
	margin:0 2%;
	background-color:white;
	min-height:50px;
}
.question_menu{
	background-color:white;
	height:90px;
	padding-top:10px;
	color:gray;
	border-top:dotted 1px #DCDCDC;
}
/*question box*/
/*question user infomation*/
.user_box{
	clear:both;
	width:96%;
	height:60px;
	margin:0 2%;
	padding-bottom:10px;
	background:white;
	border-bottom:dotted 1px #DCDCDC;
}
.user_images{
	width:30%;
	height:60px;
	background:white;
	text-align:center;
}
.user_images img{
	width:60px;
	height:60px;
	border:none;
}
.user_item{
	width:56%;
	height:60px;
	background:white;
}
.user_name{
	width:95%;
	padding-left:5%;
	background:white;
	color:gray;
}
/*question user infomation*/
/*question box menu*/
.question_menu_li{
	float:left;
	width:33.333333%;
	height:30px;
}
.menu_format{
	width:100%;
	font-size:12px;
	height:15px;
}
.answer_to_the_question{
	width:100%;
	height:30px;
	background:;
	text-align: center;
	background:#d61e44;
	opacity:0.8;
}
.answer_to_the_question a{color:white;line-height:30px;font-size:14px;}
.left_li{text-align:left;}
.right_li{text-align:right;}
/*question box menu*/

/*======================================================
==========3.question normal box==========end============
=======================================================*/

.content{
  padding-top:60px;
  height:100%;
}
/*ul li.pepoq1{
padding-top: 10px;
text-align: center;
float: left;
width: 25%;
height: 35px;
color:#fff;
font-size:16px;
text-decoration:none;
display:block;
box-shadow: inset 3px 3px 3px rgba(0,0,0,0.1);
background:#89003F;
}*/
