
h1 {
  font-size: 32px;
  line-height: 1.5;
  margin: 15px;
}

/*======================================================
==========1.swipe list===================start==========
=======================================================*/
.swipe-list .list {
  display: table;
  height: 100%;
  position: relative;
  
}
.swipe-list .list .list-body {
  position: relative;
  z-index: 10;
  width:100%;
}
.swipe-list .list .list-contents {
  padding-top:10px;
  background:white;
  width:100%;
  /*padding-bottom:0;*/
}
.swipe-list .list .list-arrow {
  color: #fff;
  padding: 10px;
  background: #e74c3c;
  vertical-align: middle;
}
.swipe-list .list .list-btn {
  position: absolute;
  top: 0;
  right: 0;
}
.swipe-list .list .list-btn ul {
  display: table;
  height: 100%;
}
.swipe-list .list .list-btn li {
  color: #fff;
  display: table-cell;
  height: 100%;
  padding: 15px;
  width:40px;
  text-align:center;
  vertical-align: middle;
}

/* theme-swipe-list */
.theme-swipe-list.is-left .list-btn {
  right: auto;
  left: 0;
}
.theme-swipe-list .list {
  font-size: 14px;

}
.theme-swipe-list .list .list-cell {
  display: table-cell;
}
.theme-swipe-list .list .list-body {
  border: solid 1px #e0e0e0;
}
.theme-swipe-list .list .titile {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 0px;
  padding-bottom: 0px;
  border-bottom: dotted 1px #90a4ae;
}
.theme-swipe-list .list .list-btn {
  height: 100%;
}
.theme-swipe-list .list .list-btn li:nth-child(1) {
  background: #fb8c00;
}
.theme-swipe-list .list .list-btn li:nth-child(2) {
  background: #546e7a;
}
.theme-swipe-list .list .list-btn li:nth-child(3) {
  background: #dd191d;
}
/*======================================================
==========1.swipe list==================END=============
=======================================================*/

/*======================================================
==========2.user box=====================start==========
=======================================================*/
/*prof_category*/
.prof_category{
  width:100%;
  height:20px;
  background:#f8f8f8;
}
.prof_category p{
  font-size:16px;
  line-height:20px;
  margin-left:5%;
  color:#95a5a6;
}
/*prof_category*/
/*user*/
.user_box{
  clear:both;
  width:96%;
  height:60px;
  margin:0 2%;
  background:white;
  border-bottom:solid 1px #DCDCDC;  border-radius:3px;
}
.user_images{
  width:30%;
  height:60px;
  background:white;
  text-align:center;
}
.user_images img{
  width:60px;
  height:60px;
  border:none;
}
.user_item{
  width:60%;
  height:70px;
  background:white;
}
.user_name{
  width:95%;
  padding-left:5%;padding-top: 10px;
  background:white;
}
/*user*/
/*user_box*/
/*======================================================
==========2.user box=====================END==========
=======================================================*/

/*======================================================
==========3.question normal box==========start==========
=======================================================*/
/*question box*/
.question_box{
  clear:both;
  background-color:white;
  width:96%;
  margin:0 2%;
  border-bottom:solid 1px #DCDCDC;
  margin-bottom:10px;
  border-radius:3px;
}
.question_format{
  padding:7px;
}
.item_li_1{
  width:75%;
  height:30px;
  background:white;
  font-size:12px;
}
.item_li_2{
  width:25%;
  height:30px;
  background:white;
  font-size:12px;
}
.question_item{
  background:white;
  height:25px;
  width:90%;
  margin:0 5%;
}
.question_user{
  clear:both;
  background-color:bcompiler_write_included_filename(filehandle, filename);
  height:50px;
  color:#757575;
}
.group_name{
  border:solid 1px #FFF4F4;
  border-radius: 7px;
  padding:3px;
  background-color:#FFF4F4;
  color: #FF5959;
}
.question_text{
  clear:both;
  padding:5px;
  width:96%;
  margin:0 2%;
  background-color:white;
  min-height:50px;
}
.question_menu{
  background-color:white;
  height:30px;
  color:gray;
  border-top:dotted 1px #DCDCDC;
}
/*question box*/
/*question user infomation*/
.user_box{
  clear:both;
  width:96%;
  height:60px;
  margin:0 2%;
  padding-bottom:10px;
  background:white;
  border-bottom:dotted 1px #DCDCDC;
}
.user_images{
  width:30%;
  height:60px;
  background:white;
  text-align:center;
}
.user_images img{
  width:60px;
  height:60px;
  border:none;
}
.user_item{
  width:56%;
  height:60px;
  background:white;
}
.user_name{
  width:95%;
  padding-left:5%;
  background:white;
  color:gray;
}
/*question user infomation*/
/*question box menu*/
.question_menu_li{
  float:left;
  width:25%;
  height:30px;
}
.menu_format{
  width:100%;
  font-size:12px;
  height:15px;
}
.left_li{text-align:left;}
.right_li{text-align:right;}
/*question box menu*/

/*======================================================
==========3.question normal box==========end============
=======================================================*/

::-webkit-input-placeholder {
    color: #ECF0F1;
}

/*begin header*/
#header_all{
  position:fixed;
  width:100%;
}
#upper_header{
  background-color:;
  height:30px;
  line-height:30px;
}
#page_back{
  float:left;
  width:10%;
  text-align:center;
}

#page_title{
  color: white;
  text-align:center;
  float:left;
  font-size:16px;
  width:80%;
  padding-right:10%;
}

#header_menu{
  padding-top:45px;
  height:30px;
  clear:both;
  width:100%;
  clear:both;
  text-align:center;
}
#header_menu p{font-size:6px;color:white;}
.menu_search_li{
  float:left;width:50%;height:30px;padding-top:5px;padding-bottom:5px;
  color:#fff;
  font-size:16px;
  text-decoration:none;
  display:block;
  background:#d61e44;
  box-shadow: inset 3px 3px 3px rgba(0,0,0,0.1);
}
.menu_search_li_hover{
  float:left;width:50%;height:30px;padding-top:5px;padding-bottom:5px;
  color:#fff;
  font-size:16px;
  text-decoration:none;
  display:block;
  background:#89003F;
  box-shadow: inset 3px 3px 3px rgba(0,0,0,0.1);
}
/*
#menu_search_group{
  float:left;width:34%;height:20px;padding-top:5px;padding-bottom:5px;
    color:#fff;
  font-size:16px;
  text-decoration:none;
  display:block;
  background:#d61e44;
  box-shadow: inset 3px 3px 3px rgba(0,0,0,0.1);
}*/

.lower_icon{
  font-size: 10px;
  color:white
}
.back_icon{
  font-size: 20px;
  color: gray;
}
#search_form{
  padding:0px 10px 5px 10px;background-color:;
  height:30px;
}
#search_form input{
  border:none;
  padding:3px 3px 5px 3px;
  color:black;
  background-color:#BDC3C7;
  font-size:16px;
  width:90%;
  margin:0px 5% 0px 5%;
}
.active{
  color:white;
}
/*end header*/
/*begin content*/
.content{
  padding-top:0px;
}
.upper_question_format{
  margin-top:45px;
  width:100%;
  height:100%;
  overflow: hidden;
}
