.modal_close{
  position:absolute;
  top: 25px;
  right:30px;
  display: block; 
  width: 20px;
  height: 20px; 
  z-index:2;
  background-repeat: no-repeat;
  background-image:url("../../img/batu.gif");
}
#lean_overlay {
  position: fixed;
  z-index: 1000;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
  background: #005;
  display: none;
}
#popup_delete_account{width: 100%;height: 100%;text-align: center;padding:70px 10px;display:none;background-color: rgba(255, 255, 255, 0.9);}
.f_sel{padding:5px;width:70%;height:100%;margin-left:15%;margin-right:15%;margin-bottom:10px;}
.edit_format input[type=text],input[type=submit]{
  border:none;
  word-wrap:break-word;
  -webkit-appearance:none;
  height:30px;
  padding:0 3px;
}
.edit_format textarea{border:none;-webkit-appearance:none;height:90px;width:70%;margin-left:15%;margin-right:15%;}
.edit_format p i{font-size:40px;padding-top:0px;}
.edit_format input[type=text],textarea, select { outline: none;}
/*POPUPWINDOW*/
#edit_question{margin-top:50px;width: 100%;height:100%;text-align: center;padding:0px 0 20px 0;display:none;background-color: rgba(255, 255, 255, 0.9);}
.add_btnq {border:none;background:#34495e;}
.add_btn {border:none;background:#34495e;}

